<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>de.gebit.mlx_omni_server</string> 

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/gebit/Public/mlx-omni-server/deployment/start_server.sh</string>
    </array>

    <key>KeepAlive</key>
    <true/>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/mlx_server.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/mlx_server_error.log</string>

    <key>WorkingDirectory</key>
    <string>/Users/gebit/Public/mlx-omni-server</string>

    <!-- It is unclear when/whether this is needed -->
    <!--<key>UserName</key>
    <string>llm</string>-->
</dict>
</plist>